# Byte-compiled / optimized / DLL files:
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# PyCharm:
.idea/

# atom-ide
.ropeproject/

# this project
django.log
