{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'gold_efficiency/css/bootstrap.min.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Gold Efficiency{% endblock %}</title>
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Gold Efficiency</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="#">Item List</a>
                        <a class="nav-item nav-link" href="#">何らかの何か</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

<div class="container-fluid">
    {% block content %}
        {{ content }}
    {% endblock %}
</div>
<script src="{% static 'gold_efficiency/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'gold_efficiency/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
