{% extends "gold_efficiency/base.html" %}

{% load i18n static %}

{% block title %}アイテム一覧{% endblock title %}

{% block extra_css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'gold_efficiency/css/datatables.min.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'gold_efficiency/css/index.css' %}" />
{% endblock extra_css %}

{% block content %}
{% if item_list %}
    <div class="box-container">
      {% for item in item_list %}
        <div class="box bg-light rounded">
          <div class="row">
            <div class="col-sm-3 text-center" id="left-pain">
              <div class="item-icon text-center">
                <img src="{{ item.img }}" alt="{{ item.name }}" class="img-fluid rounded-circle" id="item-icon">
                <p class="text-light text-center">{{ item.get_gold_efficiency|floatformat }}%</p>
              </div>
              <div class="price">
                <p id="total">Total<br/>{{ item.total_cost }}G</p>
                <p id="cost">Value:<br/>{{ item.get_gold_value|floatformat }}G</p>
              </div>
            </div>
            <div class="col-sm-9" id="right-pain">
              <div class="row">
                <div class="col-sm-10 header-name"><div class="item-name">{{ item.name }}</div></div>
                {% if item.depth %}
                  <div class="col-sm-2 header-tier"><div class="tier">Tier: {{ item.depth }}</div></div>
                {% else %}
                  <div class="col-sm-2 header-tier"><div class="tier">Tier: 0</div></div>
                {% endif %}
              </div>
              <ul class="list-group w-100" id="effect">
                {% for e in item.effect_set.all %}
                  <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <div class="description">{{ e.description }}</div>
                    {% if e.is_evaluable %}
                      <div class="tier">{{ e.get_gold_value|floatformat }}G</div>
                    {% else %}
                      <div><span class="badge badge-secondary">評価不可</span></div>
                    {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </ul>
              {% if item.from_items %}
              <div class="tier">from:</div>
              {% endif %}
              <div class="d-flex flex-wrap">
                {% for from_item in item.from_items %}
                  <div class="small-icon">
                    <img src="{{ from_item.img }}" alt="{{ from_item.name }}" class="img-fluid rounded" />
                  </div>
                {% endfor %}
              </div>
              {% if item.into_items %}
              <div class="tier">into:</div>
              {% endif %}
              <div class="d-flex flex-wrap">
                {% for into_item in item.into_items %}
                  <div class="small-icon">
                    <img src="{{ into_item.img }}" alt="{{ into_item.name }}" class="img-fluid rounded" />
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
{% else %}
    <p>No Items are available.</p>
{% endif %}
{% endblock content %}

{% block extra_js %}
<!-- <script type="text/javascript" src="{% static 'gold_efficiency/js/datatables.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#itemtable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json",
            },
            "aoColumnDefs": [
                // { "bSearchable": false, "aTargets": [ 1, 2, 3, 4 ] },
                { "bSortable": false, "aTargets": [ 4, 5, 6 ] },
                // { "bVisible":false, "aTargets": [  ] },
            ],
        });
    });
</script> -->
<script type="text/javascript" src="{% static 'gold_efficiency/js/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'gold_efficiency/js/index.js' %}"></script>
{% endblock extra_js %}
